<h1 class="color">Quiz 2!!! </h1>

<p>Gotta Add a form oh yeah! Question is it okay this is in quiz one ? I think I running out of space in cloud 9, so I don't want to duplicate it if it just being changed!</p>



<h1>Enter New Thing!!</h1>
  <%= simple_form_for @stuff do |f| %>
    <%= f.input :thing %>
    <%= f.submit 'Create' %>
  <% end %>



<h2>Print out of the Database!!</h2>
<% @stuffs.each do |stuff| %>
  <div>
    <h1><%= stuff.thing %></h1><br />
   

  </div>

  <hr />
<% end %>